@import '../index.scss';

.btn-product {
  width: 100%;
  height: 45px;
}
.product-count {
  width: 50px;
  display: inline-block;
}
.btn-cart-control
{
  padding: 0.4em;
  color: #ffffff;
  font-size: 15px;
  background: $primary-color;
  text-decoration: none;
  border: 0px;
}

.btn-cart-control:hover {
  background: $secondary-color;
  text-decoration: none;
}
.btn-add-cart
{
  width: 170px;
  height:45px;
  align-content: center;
}